<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="product">
	
	<select id="listSkewer" resultType="com.foodmarket.www.model.shop.dto.ProductDTO">
		<include refid="paging_header"/>
		select * from product where product_name like '%꼬치%' order by product_id desc
		<include refid="paging_footer"/>
	</select>
	
	<select id="listDog" resultType="com.foodmarket.www.model.shop.dto.ProductDTO">
		<include refid="paging_header"/>
		select * from product where product_name like '%핫도그%' order by product_id desc
		<include refid="paging_footer"/>
	</select>
	
	<select id="listSausage" resultType="com.foodmarket.www.model.shop.dto.ProductDTO">
		<include refid="paging_header"/>
		select * from product where product_name like '%소시지%' order by product_id desc
		<include refid="paging_footer"/>
	</select>
	
	<select id="countSkewer" resultType="int">
		select count(*) from product where product_name like '%꼬치%'
	</select>
	
	<select id="countDog" resultType="int">
		select count(*) from product where product_name like '%핫도그%'
	</select>
	
	<select id="countSausage" resultType="int">
		select count(*) from product where product_name like '%소시지%'
	</select>
	
	<sql id="paging_header">
		select * 
		from (
			select rownum as rn, A.*
			from (
	</sql>
	
	<sql id="paging_footer">
		) A
	) where rn between #{start} and #{end}
	</sql>
	
	<select id="productDetail" resultType="com.foodmarket.www.model.shop.dto.ProductDTO">
		select * from product where product_id = #{product_id}
	</select>
	
	<insert id="insertProduct">
		insert into product values (seq_product.nextval,#{product_name},#{price},#{description},#{picture_url})
	</insert>
</mapper>














